.row {
  font-weight: bold;
  .auther {
    font-size: 30px;
    text-transform: uppercase;
  }
  .place,
  .year {
    font-size: 20px;
    text-transform: capitalize;
    text-align: right;
  }
}
