.list {
  .list-section {
    .details {
      .card {
        //   border: none;
        border-radius: 0px;
        .card-footer {
          padding: 0px;
          .btn-group {
            width: 100%;
            font-size: 20px;
            button {
              border-radius: 0px;
            }
          }
          //   button {
          //     width: 100%;
          //     font-size: 20px;
          //     border-radius: 0px;
          //   }
        }
      }
    }
  }
  .sorting-section {
    .form-group {
      input {
        border-radius: 0px;
      }
    }
  }
}
